terraform/webapi/.terraform.lock.hcl
terraform/webapi/.terraform.tfstate.lock.info
terraform/webapi/.gitignore
terraform/.terraform.lock.hcl
/src/.vs
/src/kubernetes-ingress-tls-demo-api/.vs/kubernetes-ingress-tls-demo-api/CopilotIndices/17.12.38.29086
/src/kubernetes-ingress-tls-demo-api/.vs/kubernetes-ingress-tls-demo-api/FileContentIndex
/src/kubernetes-ingress-tls-demo-api/.vs/kubernetes-ingress-tls-demo-api/v17
/src/kubernetes-ingress-tls-demo-api/WebApi/bin
/src/kubernetes-ingress-tls-demo-api/WebApi/obj
/src/kubernetes-ingress-tls-demo-api/WebApi/Properties/PublishProfiles
/src/kubernetes-ingress-tls-demo-api/.vs/kubernetes-ingress-tls-demo-api
/src/kubernetes-ingress-tls-demo-api/.vs/ProjectEvaluation
/src/kubernetes-ingress-tls-demo-api/WebApp/bin/Debug/net9.0
/src/kubernetes-ingress-tls-demo-api/WebApp/obj
/src/kubernetes-ingress-tls/.vs
/src/kubernetes-ingress-tls/WebApi/bin
/src/kubernetes-ingress-tls/WebApi/obj
/src/kubernetes-ingress-tls/WebApp/bin/Debug/net9.0
/src/kubernetes-ingress-tls/WebApp/obj
/terraform/.terraform.tfstate.lock.info
