<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/023b2039-5c23-44b8-844e-c002f8ed431d/resourceGroups/RG-AKS-INGRESS-TLS/providers/Microsoft.ContainerRegistry/registries/aksingrestlsacr</ResourceId>
    <ResourceName>aksingrestlsacr</ResourceName>
    <ResourceGroup>RG-AKS-INGRESS-TLS</ResourceGroup>
    <Subscription>Microsoft Azure Sponsorship</Subscription>
    <RegistryUrl>https://aksingrestlsacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7db90c1d-f097-4b38-8c26-3fa95d75e113</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>